*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#0d1117;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    text-align:center;

    width:90%;

    max-width:450px;

}

h1{

    font-size:38px;

    margin-bottom:20px;

}

.subtitle{

    color:#bdbdbd;

    margin-bottom:40px;

    line-height:1.6;

}

button{

    background:#00c853;

    color:white;

    border:none;

    padding:16px 40px;

    font-size:20px;

    border-radius:15px;

    cursor:pointer;

    transition:.3s;

}

.top-bar{

display:flex;

justify-content:space-between;

margin-bottom:25px;

font-size:22px;

}

#playerImage{

width:250px;

height:250px;

object-fit:cover;

border-radius:20px;

background:#222;

margin:25px auto;

display:block;

}

.answers{

display:grid;

grid-template-columns:1fr;

gap:15px;

}
button:hover{

    transform:scale(1.05);

}
